{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book shop</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  </head>
  <body>
<body>
    <section>
      <div class="create_container">
        <form action="{% url 'add-book-shop' %}" method="POST">
            {% csrf_token %}

            <input
                class="create_input"
                type="text"
                placeholder="Напишите сюда заголовок книги"
                name="bookshop_title"
            />
            
            <input
                class="create_input"
                type="text"
                placeholder="Напишите сюда подзаголовок книги"
                name="bookshop_subtitle"
            />

            <input
                class="create_input"
                type="text"
                placeholder="Напишите сюда описание"
                name="bookshop_description"
            />

            <input
                class="create_input"
                type="number"
                placeholder="Напишите сюда цену"
                name="bookshop_price"
            />

            <input
                class="create_input"
                type="text"
                placeholder="Напишите сюда жанр книги"
                name="bookshop_genre"
            />

            <input
                class="create_input"
                type="text"
                placeholder="Напишите сюда автора"
                name="bookshop_author"
            />
          
            <input
                class="create_input"
                type="number"
                placeholder="Напишите сюда год выхода книги"
                name="bookshop_year"
            />
            <br>
            <button class="create_button">Добавить новую книгу</button>
        </form>
        <br>
       </div>
      <div class="bookshop_container">
        {% for book in book_shop %}
            <h1> Название {{ book.title }} </h1>
            <h3> {{ book.subtitle }} </h3>
            <h4> {{ book.description }} </h4>
            <h4> {{ book.price }} </h4>
            <h4> {{ book.genre }} </h4>
            <h4> {{ book.author }} </h4>
            <h4> {{ book.year }} </h4>
        
            <button class="create_btn" url='mark-bookshop'>Избранное</button>
            <button class="create_btn">Удалить</button>
            <br><br>
        {% endfor %}
      </div>
    </section>
</body>
</html>